@import '../../styles/variables.scss';

.collapse {
  max-width: 800px;
  width: 100%;
  margin-bottom: 10px;
}

.titleContainer {
  @include df-align-center;
  max-width: 800px;
  width: 100%;
  justify-content: space-between;
  padding: 16px 24px;
  height: 58px;
  background: #e4e5e7;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;

  span {
    @include text36;
  }

  &:hover {
    background: $blue;
    color: #fff;
  }

  &.active {
    background: $blue;
    color: #fff;
  }
}

.title {
  font-style: 20px;
}

.content {
  @include text16;
  background: #e4e5e7;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  padding: 0 30px;

  &.show {
    height: auto;
    max-height: 100vh;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
  }
}
