@import '../../styles/variables.scss';

.sourceUrlContainer {
  margin-bottom: 32px;

  h3 {
    margin-bottom: 12px;
  }

  .sourceUrl {
    @include fdc;
    margin-bottom: 8px;

    a {
      color: $color-blue;
    }
  }
}
