@import '../../styles/variables.scss';

.result {
  padding-top: 80px;
  @include fdc-center;

  .wordBase {
    @include dfc;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 32px;
    border-bottom: 1px solid #e4e5e7;
  }

  .helper {
    @include fdc;
    max-width: 1200px;
    width: 100%;

    h2 {
      font-weight: 700;
      font-size: 36px;
      line-height: 40px;
      margin-right: 8px;
    }

    .phoenetic {
      font-size: 20px;
      line-height: 28px;
      color: $color-grey;
    }

    h3 {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      //margin-bottom: 12px;
    }
  }
}
