@import '../../styles/variables.scss';

.home {
  @include fdc-center-center;

  h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 48px;
    text-align: center;
  }
}

@media (max-width: 560px) {
  .home {
    h1 {
      font-size: 30px;
    }
  }
}
