@import '../../styles/variables.scss';

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 25px 40px;
  @include dfc;
  justify-content: space-between;
  z-index: 100;
  background: #fff;

  .logo {
    height: 40px;
    pointer-events: none;
  }

  a {
    text-decoration: none;
    font-weight: 700;
    color: $color-blue;
    @include dfc;
    font-size: 16px;
  }

  .btn {
    color: #000;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    transition: 0.3s;

    &:hover {
      color: $color-blue;
    }
  }
}
