.header {
  height: 70px;
  padding: 0 25px;
  background-color: #659dbd;
  font-weight: 700;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    text-transform: uppercase;
    font-size: 4.5vw;
    color: #08537e;
    text-shadow: 1px -1px 0px #02284e;
  }

  .logo {
    height: 50px;
    pointer-events: none;
  }

  a {
    text-decoration: none;
    font-weight: 700;
  }
}
