.notFound {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;
    font-weight: 900;
    color: #daad86;
    text-transform: uppercase;
    text-shadow: 2px -1px 0px #02284e;
    letter-spacing: 0px;
    margin-bottom: 20px;
  }

  a {
    text-decoration: underline;
    color: #02284e;
    font-weight: 700;
  }
}
