@import '../../styles/variables.scss';

.notFound {
  @include flex-column-center-center;

  h3 {
    @include textH1;
    text-align: center;
  }

  h4 {
    color: $blue;
  }

  .imgContainer {
    height: auto;
    max-width: 800px;
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.link {
  color: #000;
  font-weight: 700;
  transition: 0.3s;

  &:hover {
    color: $blue;
  }
}

@media (max-width: 560px) {
  .notFound {
    h3 {
      @include text36;
    }
  }
}
