@import '../../styles/variables.scss';

.meanings {
  margin-bottom: 60px;

  h6 {
    @include text16;
    color: $red;
    margin: 10px 0;
    font-style: italic;
  }

  ul {
    list-style: none;
  }

  .definitionList {
    max-width: 800px;
    width: 100%;
    padding-left: 50px;

    li {
      @include text16;
    }
  }
}
